* {
    margin:0; /*distância da margem até a tela// Devemos lembrar, que mesmo não declarando a propriedade margem no CSS, o próprio navegador adiciona valores para a margem padrão aos elementos na tela. */  
    padding:0;  /*distância dos elementos até a margem */
}
body{
    font-family: 'Inter', 'sans-serif';
    font-size: 1.5rem;
    background-color: #1B2430;
    color: #F6F6F6;
}
.rodape{

    text-align: center;
    margin-bottom: 6em;

}