*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    text-align: center;
    font-weight: bold;
}

body{
    font-family: 'Inter', 'sans-serif';
    font-size: 1.5rem;
    background-color: #1B2430;
    color: #F6F6F6;
}

h1{
    text-align: center;
    margin: auto;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    list-style: none;
    gap: 5vw;
}

.rodape{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1B2430;
    height: auto;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #fff;
    text-align: center;
}
.ListaDeCursos_title
{
    margin-top: 2em;
    margin-bottom: 2em;
}

.Navegacao{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    list-style: none;    
    background-color: rgba(0,0,0,0.8);
    
}